/*





*/


@media (max-width: 360px) {

    /*===========burger-menu===========*/
    .menu-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50px;
        right: -10px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

    .menu-btn > span::before {
        content: '';
        top: -8px;
    }

    .menu-btn > span::after {
        content: '';
        top: 8px;
    }

    .menubox {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 250px;
        height: 80%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        transition-duration: .45s;
        z-index: 1;
    }


    .menu-item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu-item:hover {
        background-color: #CFD8DC;
    }


    #menu-toggle {
        opacity: 0;
    }


    #menu-toggle:checked ~ .menu-btn > span {
        transform: rotate(45deg);
    }

    #menu-toggle:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu-toggle:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu-toggle:checked ~ .menubox {
        visibility: visible;
        left: 0;
    }


    /*===========  The end burger-menu ====================*/
    .container {
        width: 300px;
        margin: auto;
        position: relative;

    }


    hr {
        display: none;
    }

    .my-name {
        width: 200px;
        margin-top: 45px;
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 47px;
        line-height: 58px;
        color: #000000;
    }

    .about {
        font-family: Gilroy-Medium, sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: #090909;
        margin-top: 23px;
    }


    .my-ava {
        width: 100%;
        height: 478px;
        margin-top: 36px;
        position: relative;
    }


    .my-ava-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .style {
        font-family: Gilroy-Bold, sans-serif;
        font-size: 34px;
        line-height: 42px;
    }

    .colour {
        position: relative;
        top: 0;
        left: -30px;
        width: 360px;
        height: 600px;
        margin-top: 85px;
        background: #F6F6F6;
        background-size: 50px 100px;
        text-align: center;
    }

    .colour h2 {
        padding-top: 80px;
    }

    .about-me {
        width: 300px;
        height: 460px;
        margin: auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: Gilroy-Medium, sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }





    /*

    */


}


























