/*










*/


@media (max-width: 481px) {

    * {
        font-size: 18px;

    }


    h2 {
        font-family: Gilroy-Bold, sans-serif;
        font-size: 1.5rem;
    }


    .container {
        /*width: 300px;*/
        /*margin: auto;*/
        /*position: relative;*/
        /*text-align: center;*/


        width: 90%;
        margin: auto;
    }

    hr {
        display: none;
    }

    .my-name {
        width: 200px;
        margin-top: 45px;
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 2.5rem;
       color: #000000;
    }

    .about {
        font-family: Gilroy-Medium, sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: #090909;
        margin-top: 23px;
    }


    .my-ava {
        width: 100%;
        /*height: 478px;*/
        margin-top: 36px;
        /*position: relative;*/
    }


    .my-ava-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    /*     about    */


    .colour {
        position: relative;
        top: 0;
        left: -30px;
        width: 360px;
        margin-top: 85px;
        background: #eae9e9;
        background-size: 50px 100px;
        text-align: center;
        overflow: hidden;

    }

    .colour h2 {
        margin-top: 80px;
    }

    .about-me {
        width: 300px;
        margin: auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        font-family: Gilroy-Medium, sans-serif;
        line-height: 22px;
        color: #000000;
    }

    .about-me p {
        margin-bottom: 82px;
    }

    /*    the end  about    */
    /*

    */
    /*     mySkill    */
    .mySkill {
        text-align: center;
    }

    .mySkill h2 {
        margin-top: 83px;
    }

    .mySkill p {
        margin: 50px 0 71px 0;

    }

    .skills {
        margin-bottom: 80px;
    }


    .img-skills {
        width: 90px;
        height: 90px;
        margin-bottom: 25px;
    }

    /*    the end mySkill    */
    /*

    */
    /*      portfolio           */
    .all-portfolio {
        margin: 50px 0 70px 0;
        /*overflow: hidden;*/

    }

    .portfolio {
        width: 316px;
        height: 170px;

        background-color: #ffffff;
        margin: 20px auto;
    }


    /*  the end    portfolio           */
    /*

    */
    /*   footer   */
    .contracts {
        text-align: center;
        margin-bottom: 70px;
    }

    .contracts:first-child {
        margin-top: 80px;

    }

    .phrases {
        margin: 27px auto 40px auto;
    }


    .block {
        width: 40px;
        height: 40px;
        display: block;
        margin: 0 auto 50px auto;
    }

    .mail {
        background: url("../img/gmail.svg") no-repeat;
        background-size: 100%;
    }

    .tel {
        background: url("../img/tel.svg") no-repeat;
        background-size: 100%;
    }

    .viber {
        background: url("../img/viber.svg") no-repeat;
        background-size: 100%;
    }

    .telegram {
        background: url("../img/telegram.svg") no-repeat;
        background-size: 100%;
    }

    /*  =======    the end footer     */
    .indicator {
        position: fixed;
        left: 30px;
        bottom: 10px;
    }

    .indicator > a {
        font-size: 3rem;
        opacity: .5;
    }

    .indicator > a:visited {
        color: #000000;
    }

    .indicator > a:active {
        color: #000000;
    }

}











